<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='func.js') }}"></script>
</head>

<body>
    <h1>Hello World!</h1>
    <p>This is the index page.</p>
    <hr />

    <div id="setup_form">
        <label for="game_dropdown">Game Choice</label>
        <select name="game_dropdown" id="game_dropdown" onchange="update_opp_choices(this.value);">
            <option value="rps">Rock Paper Scissors</option>
            <option value="pkmn">Pokemon</option>
        </select>
        <br/>
        <label for="opp_dropdown">Opponent Type</label>
        <select name="opp_dropdown" id="opp_dropdown">
            <option value="random_rps">Random</option>
            <option value="counter_rps">Counter</option>
        </select>
        <br/>
        <input type="button" value="Submit" onclick="submit_form()">
    </div>
</body>

</html>