<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='func.js') }}"></script>
</head>

<body>
    <h1>Hello World!</h1>
    <p>This is the index page.</p>
    <hr />
    <h2>Setup</h2>
    <div id="setup_form">
        <label for="game_dropdown">Game Choice</label>
        <select name="game_dropdown" id="game_dropdown" onchange="update_opp_choices(this.value);">
            <option value="rps">Rock Paper Scissors</option>
            <option value="pkmn">Pokemon</option>
        </select>
        <br/>
        <label for="opp_dropdown">Opponent Type</label>
        <select name="opp_dropdown" id="opp_dropdown">
            <option value="random_rps">Random</option>
            <option value="counter_rps">Counter</option>
            <option value="rock_rps">Rock</option>
            <option value="paper_rps">Paper</option>
            <option value="scissors_rps">Scissors</option>
            <option value="uniform_rps">Uniform</option>
        </select>
        <br/>
        <label for="player_team_dropdown">Player Team</label>
        <select name="player_team_dropdown" id="player_team_dropdown">
            <option>N/A</option>
        </select>
        <br/>
        <label for="opp_team_dropdown">Opponent Team</label>
        <select name="opp_team_dropdown" id="opp_team_dropdown">
            <option>N/A</option>
        </select>
        <br/>
        <input type="button" value="Submit" onclick="submit_form()">
    </div>
    <hr />
    <h2>Placeholder</h2>
    <div id="gamestate_window">
        <div id="player_info"><h5>Player Info</h5></div>
        <div id="opponent_info"><h5>Opponent Info</h5></div>
    </div>
    <hr />

    <h2>Game</h2>
    <div id="game_window">
        <div id="player_options"></div>
    </div>
    <div id="game_log">
        <h5>Game Log</h5>
    </div>
</body>

</html>